beehive-design/src/main/resources/META-INF/beehive.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="https://www.aprilyolies.top/schema/beehive"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://www.aprilyolies.top/schema/beehive">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the beehive test. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="mybeanType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The mybean name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="class" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The version. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="mybean" type="mybeanType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The mybean config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>


</xsd:schema>