beehive-core/src/main/resources/META-INF/beehive.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="https://www.aprilyolies.top/schema/beehive"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://www.aprilyolies.top/schema/beehive">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the beehive framework. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="serviceType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The service bean name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="service" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The service interface reference. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The protocol, default is beehive. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The service implementation. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proxy-factory" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The proxy model, default use javassist. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serializer" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The serializer model, default use fastjson. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="server-port" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The server's working port, default use 7440. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="referenceType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The reference bean name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="service" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The service interface reference. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The protocol, default is beehive. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="load-balance" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The load balance strategy, default is random. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proxy-factory" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The proxy model, default use javassist. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serializer" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The serializer model, default use fastjson. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="read-timeout" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ The max time to read rpc result from RpcResult, default is 2000ms. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="retry-times" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ The max time to read rpc result from RpcResult, default is 2000ms. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="registryType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry bean name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ The registry center address, for example "protocol://host1:port1,protocol://host2:port2". ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="service" type="serviceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Export service config. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="reference" type="referenceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Reference service config. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="registry" type="registryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Registry center config. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>


</xsd:schema>